 
language: python

python:
  - "3.6.6"

addons:
  postgresql: "10"
  apt:
    packages:
    - postgresql-10
    - postgresql-client-10
env:
  global:
  - PGPORT=5432

before_script:
  - createdb trivia_test
  - psql trivia_test < trivia.psql

before_install:
  - cd backend

install:
  - pip install -r requirements.txt
  - pip install pytest
  - pip install coverage
  - pip install coveralls
  - pip install pytest-cov


script:
  - python -m pytest test_flaskr.py --cov=flaskr

after_success:
  - coveralls